*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: rgb(255, 255, 255);
}

header{
    background-color: darkviolet;
    padding: 5px 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: black;
}

.logo{
    color: darkviolet;
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a{
    color: white;
    text-decoration: none;
}
.nav-links a:hover{
    font-weight: bold;
    color: darkviolet;
}
nav button{
    padding: 10px 18px;
    border: none;
    background: darkviolet;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}

.hero{
    background-color: rgb(248, 255, 247);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 8%;
    gap: 50px;
}

.hero h1{
    color: darkviolet;
}

.hero-text{
    background-color: rgb(255, 213, 255);
    padding: 10px;
    flex: 1;
    border-radius: 10px;
    width: 400px;
    min-width: 400px;
    min-height: 400px;
    
}

.hero-text h1{
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.hero-text button{
    padding: 12px 24px;
    border: none;
    background: darkviolet;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.hero-image{
    background-color: rgb(255, 213, 255);
    display: flex;
    flex: 1;
    border-radius: 10px;
    width: 400px;
    height: 100%;
    justify-content: center;
}

.hero-image img{
    width: 400px;
    border-radius: 10px;
    height: 400px;
}

.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 70px 8%;
}

.card{
    width: 300px;
    background: #f4f4f4;
    padding: 24px;
    border-radius: 10px;
    text-align: center;
}

.card h3{
    margin-bottom: 15px;
}

.card p{
    margin-bottom: 20px;
}

.card button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: darkviolet;
    color: white;
    cursor: pointer;
}

.icon{
    font-size: 45px;
    margin-bottom: 15px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
    background: black;
    color: white;
}

.socials{
    display: flex;
    gap: 20px;
}

.socials a{
    font-size: 24px;
    color: rgb(235, 169, 255);
    text-decoration: none;
}
span{
    color: darkviolet;
}

@media(max-width:768px)
{

    nav{
        flex-direction:column;
        gap:20px;
    }

    .nav-links{
       flex-direction: column;
       text-align: center; 
    }

    .hero{
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1{
        font-size: 36px;
    }

    .features{

        flex-direction: column;
        align-items: center;
    }

    footer{
        flex-direction: column;
    }
}
